html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--orange);
  margin: 0;
  font-family: "IMFellEnglish-Regular", serif;
}

section {
  background-color: var(--orange);
  padding: 3rem;
  margin: 0 auto;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#photo-menu {
  min-height: auto !important;
}

#map {
  padding: 0 !important;
}

.tight-text h1,
.tight-text p {
  margin: 0;
  line-height: 1.1;
}

.tight-text .date {
  margin-bottom: 1.5rem;
}

.tight-text p {
  font-size: 1.3rem;
}

h2 {
  margin-bottom: 1.6rem;
}

:root {
  --orange: #9f5114;
  --lightorange: #ceac99;
  --offwhite: #faf7f2;
  --white: #fff;
}

@font-face {
  font-family: "IMFellEnglish-Regular";
  src: url("fonts/IMFellEnglish-Regular.ttf");
}
