html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bs-orange);
  /* background-image: url('images/pattern.png');
  background-repeat: repeat;
  background-size: 500px 500px;
  color: var(--bs-orange); */
  margin: 0;
  font-family: "IMFellEnglish-Regular", serif;
}

section {
  background-color: var(--bs-orange);
  padding: 3rem;
  margin: 0 auto;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#photo-menu {
  min-height: auto !important;
}

#map {
  padding: 0 !important;
}

.tight-text h1,
.tight-text p {
  margin: 0;
  line-height: 1.1;
}

.tight-text .date {
  margin-bottom: 1.5rem;
}

.tight-text p {
  font-size: 1.3rem;
}

h2 {
  margin-bottom: 1.6rem;
}

:root {
  --bs-orange: #9f5114;
  --bs-lightorange: #ceac99;
  --bs-offwhite: #faf7f2;
  --bs-white: #fff;
}

@font-face {
  font-family: "IMFellEnglish-Regular";
  src: url("fonts/IMFellEnglish-Regular.ttf");
}

.text-orange {
  color: var(--bs-orange);
}
.text-ligthorange {
  color: var(--bs-ligthorange);
}
.text-white {
  color: var(--bs-white);
}
.text-offwhite {
  color: var(--bs-offwhite);
}

.bg-orange {
  background-color: var(--bs-orange);
}
.bg-ligthorange {
  background-color: var(--bs-ligthorange);
}
.bg-white {
  background-color: var(--bs-white);
}
.bg-offwhite {
  background-color: var(--bs-offwhite);
}
